body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 2px solid green;
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  border: 2px solid red;
  height: auto;
  width: min-content;
}

.cell{
  display: grid;
  font-size: 120px;
  align-items: center;
  justify-items: center;
  border: 2px solid black;
  height: 200px;
  width: 200px;
}
